/*
    Shared between all pages Styles : head,footer, navbar , etc..
*/
body {
    direction: rtl;
    text-align: right;
    font-family: iransans !important;
    background-color:#141416;
}
h1,h2,h3,h4,h5{
    font-family: iransans !important;
    font-weight: initial;
}
section{display:block;width:100%;}
navbar {
    display: block;
    width: 100%;
    border-radius: 3px 3px 0 0;
    background-color: #1d1d1d;
    background-image: radial-gradient(ellipse farthest-corner at center 0px, #31a2a6 -150%, #333240 45%, #333240 85%);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .2);
    border: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}