/*
    Shared between all pages Styles : head,footer, navbar , etc..
*/
body {
    direction: rtl;
    text-align: right;
    font-family: iransans !important;
    background-color: #F0F0FB;
}
h1,h2,h3,h4,h5,h6{
    font-family: iransans !important;
    font-weight: initial;
}
section{display:block;width:100%;}

.text-white{
    color:white !important;
}
.text-shadow{
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3)
}
.text-english{
    font-family: Roboto !important;
}
.text-ltr{
    direction: ltr;
}
.text-tahoma{
    font-family: Tahoma;
}
.text-bold{
    font-weight: bold;
}
.super-title{
    font-size:2.5rem;
    font-weight:bold;
}
.orange-title {
    background-color: #F7931E;
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
}

.wog-card{
    background-color: white;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card-padding {
    padding: 10px 15px;
}
.card{
    border:none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1)
}
/************************ 
        navbar 
****************************/
navbar {
    display: block;
    width: 100%;
    height: 80px;
    background-color: #1F262A;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: all 0.3s;
}
navfiller{
    display:block;
    width: 100%;
    height: 80px;
}

navbar.transparent-navbar {
    background-color: rgba(255, 255, 255, 0.05);
}
navbar .navbar-links-container{
    display: inline;
}
navbar .navbar-links-back-btn{
    display:none;
}
.navbar-item {
    display: inline-block;
    padding: 25px 10px;
    min-width: 100px;
    text-align: center;
    color: white !important;
    text-decoration: none !important;
    height: 100%;
}


navbar.transparent-navbar .navbar-item {
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.10);
}

.navbar-item .fas {
    font-size: 1.2rem;
    right: 5px;
    position: relative;
}

.navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.fas-user-auth {
    display: inline-block;
    font-size: 1.7rem;
    position: relative;
    top: 8px;
}
.navbar-mobile-btn-wrapper{
    display:none;
}
.navbar-user-box{
    /* padding:15px 10px; */
    float:left;
}
.navbar-user-box img{
    width:48px;
    height:48px;
    border-radius: 50%;
    display: inline-block;
    margin:0 5px;
}
.navbar-user-box a.navbar-item{
    min-width: 30px;
    
}
navbar .navbar-search-btn{
    cursor: pointer;

}
navbar .search-card{
    position: absolute;
    top:80px;
    z-index:30000;
    box-shadow:3px 4px 3px rgba(0, 0, 0, 0.3);
    padding:5px 10px;
    border-bottom:5px solid orange;
}
.navbar-dropdown{
   width:100vw;
   min-height: 200px;
   position: fixed;
   top:80px;
   left:0;
   z-index: 1000000;
}
.navbar-games-link{
    display: block;
    padding:15px 10px;
    text-align: center;
    color:white !important;
    text-decoration: none !important;
    position: relative;
}
.navbar-games-link:hover{
    background-color:rgba(255, 255, 255, 0.3)
}
.navbar-games-link .fas{
    position: relative;
    top:1px;
}
.navbar-games-link.selected{
    border-right: 5px solid orangered;
}
.navbar-games-cover{
    width:100%;
    height:450px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar-games-cover .gradient-thing{
    position: absolute;
    height: 100%;
    width:100%;
    padding:10px 20px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 100%);
}
.navbar-games-cover .gradient-thing.no-gradient{
    background:transparent;
}
.navbar-games-cover .gradient-thing h3{
    display:inline-block;
    margin-right: 10px;
    text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
}
.navbar-games-cover .gradient-thing p{
    text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
}
.navbar-post-box{
    display:block;
    margin-bottom:10px;
    text-align: center;
    text-decoration: none !important;
    color:white !important;
    
}
.navbar-post-box h1{
    font-size:18px;
    margin-top:5px;
}
.navbar-post-box .navbar-post-thumbnail{
    width: 100%;
    height:160px;
    background-size: cover;
    background-position: center;
}
/*Mobile Devices*/
@media (max-width: 576px)
{ 
    .navbar-mobile-btn-wrapper{
        display:inline-block;
        margin-left: 5px;
    }
    navbar .navbar-logo{
        padding-top:15px;
    }
    navbar .navbar-links-container{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 300px;
        z-index: 100000;
        background-color: #202020;
    }
    navbar .navbar-links-container .navbar-item{
        display: block;
        width: 100%;
        height:auto;
        padding:10px 0;
    }
    navbar .navbar-links-back-btn{
        display:block;
        font-size:25px;
        text-align:right;
        padding:10px 15px;
    }
    
    navbar .navbar-login-box{
        display:inline-block;
        font-size:10px;
    }
    navbar .fas-user-auth{
        display:none;
    }
    navbar .navbar-login-box .navbar-item{
        min-width:60px;
        font-size:12px;
    }
}

footer{
    display:block;
    width:100%;
    background-color:rgb(35, 44, 47);
    color:white;
    min-height: 50px;
    padding:20px 0;
    margin-top:20px;
}
footer h1{
    font-size:1.4rem;
    margin-bottom:20px;
    font-weight: bold;
}
footer .footer-post-box{
    display:block;
    width: 100%;
    color:white !important;
    text-decoration: none !important;
    margin-bottom:10px;
}
footer .footer-post-box h2{
    font-size:1.2rem;
    display:inline;
    padding-right:5px;
    vertical-align: top;
    padding-top:5px;
}
footer .footer-cat{
    display:block;
    color:#f0f1f2 !important;
    text-decoration: none !important;
    margin-bottom:20px;
}
footer .footer-social{
    display:inline-block;
    margin:0 5px;
    vertical-align: top;
}
#footer-telegram{
    color:#03A9F4;
    font-size:1.7rem;
}
#footer-instagram{
    color:orange;
    font-size:1.7rem;
}
#footer-aparat{
    position: relative;
    top:0;
}

/* Loading */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #37474F;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}