/*
    Shared between all pages Styles : head,footer, navbar , etc..
*/
body {
    direction: rtl;
    text-align: right;
    font-family: iransans !important;
    background-color:#141416;
}
h1,h2,h3,h4,h5,h6{
    font-family: iransans !important;
    font-weight: initial;
}
section{display:block;width:100%;}
