/*
    Shared between all pages Styles : head,footer, navbar , etc..
*/
body {
    direction: rtl;
    text-align: right;
    font-family: iransans !important;
    background-color: #F0F0FB;
}
h1,h2,h3,h4,h5,h6{
    font-family: iransans !important;
    font-weight: initial;
}
section{display:block;width:100%;}

.text-white{
    color:white !important;
}
.text-shadow{
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3)
}
.text-english{
    font-family: Roboto !important;
}
.text-ltr{
    direction: ltr;
}
.text-tahoma{
    font-family: Tahoma;
}
.text-bold{
    font-weight: bold;
}
.super-title{
    font-size:2.5rem;
    font-weight:bold;
}

.wog-card{
    background-color: white;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card-padding {
    padding: 10px 15px;
}

/************************ 
        navbar 
****************************/
navbar {
    display: block;
    width: 100%;
    height: 80px;
    background-color: #1F262A;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

navbar.transparent-navbar {
    background-color: rgba(255, 255, 255, 0.05);
}

.navbar-item {
    display: inline-block;
    padding: 25px 10px;
    min-width: 100px;
    text-align: center;
    color: white !important;
    text-decoration: none !important;
    height: 100%;
}

navbar.transparent-navbar .navbar-item {
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.10);
}

.navbar-item .fas {
    font-size: 1.2rem;
    right: 5px;
    position: relative;
}

.navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.fas-user-auth {
    display: inline-block;
    font-size: 1.7rem;
    position: relative;
    top: 8px;
}
.card{
    border:none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1)
}
.navbar-dropdown{
   width:100vw;
   min-height: 200px;
   position: fixed;
   top:80px;
   left:0;
   z-index: 1000000;
}
.navbar-games-link{
    display: block;
    padding:15px 10px;
    text-align: center;
    color:white !important;
    text-decoration: none !important;
    position: relative;
}
.navbar-games-link:hover{
    background-color:rgba(255, 255, 255, 0.3)
}
.navbar-games-link .fas{
    position: relative;
    top:1px;
}
.navbar-games-link.selected{
    border-right: 5px solid orangered;
}
.navbar-games-cover{
    width:100%;
    height:450px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar-games-cover .gradient-thing{
    position: absolute;
    height: 100%;
    width:100%;
    padding:10px 20px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 100%);
}
.navbar-games-cover .gradient-thing h3{
    display:inline-block;
    margin-right: 10px;
    text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
}
.navbar-games-cover .gradient-thing p{
    text-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
}
.navbar-post-box{
    display:inherit;
    margin-bottom:10px;
    text-align: center;
}
.navbar-post-box h1{
    font-size:18px;
    margin-top:5px;
}